.produtos{
    padding-top: 0;
}
.sessao_colecao{
    justify-content: center;
    display: flex;
    gap: 20px;
    background-color: rgb(22,22,22,1);
    width: 100%;
    min-height: 90vh;
    padding: 15px;
    top: 0;

}
.colecao{
    border-radius: 5px;
    border: solid 1px orange;
    width: 400px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca{
    font-size: 30px;
    color: orange;
    font-family: 'Montserrat', sans-serif

}
.a{
    text-decoration: none;
}

