body {
    text-align: center;
    color: #ffffff;
}

div.box .input_text {
    padding: 10px 10px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px double #ffffff;
    border-top: 1px double #00000000;
    border-left: 1px double #00000000;
    border-right: 1px double #00000000;
    color: #ffffff;
}

h1 {
    font-size: larger;
}

.criar {
    font-size: xx-small;
    margin-left: 265px;
    color: white;
    text-decoration: none;
}

.esqueci_senha {
    font-size: xx-small;
    margin-right: 202px;
    color: rgb(67, 195, 255);
    text-decoration: none;
}

.Termos {
    font-size: small;
    color: #ffffff;
    margin-left: 65px;
    text-decoration: none;
    position: absolute;
    padding-top: 5%;
}

/* #manter_conec {
        margin-left: -200px;
    } */

#avancar {
    margin-left: 288px;
    background-color: #12121200;
    border: 1px double #12121200;
    color: white;
}

.teste {
    margin-top: 8%;
}

.imagem_perfil {
    margin-bottom: 2%;
}