body {
    color: #ffffff;
}

h1 {
    font-size: x-large;
    margin-left: 188px;
}

.input_text {
    padding: 10px 10px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px double #ffffff;
    border-top: 1px double #00000000;
    border-left: 1px double #00000000;
    border-right: 1px double #00000000;
    color: #ffffff;
    margin-bottom: 10px;
}

.test {
    margin-top: 10%;
}

#avancar {
    background: #ffe600;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
    border-radius: 20px;
    border: transparent;
    overflow: hidden;
    height: 30px;
    text-transform: uppercase;
}

.retornar {
    font-size: 11px;
    text-decoration: none;
}

.img {
    margin-top: 25px;
}

.Hmmmm {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.btn,
.btn_c {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
}