.menu li a:hover{
    transform: scale(0.9);
    transition:0.9s;
}
.finish{
    opacity: 1;
}
.finish:hover{

    opacity:0.7;

}
.notfinished{
    opacity: 1;
}
.notfinished:hover{
    opacity: 0.7;
}