.produtos{ /* FORMATAÇÃO STYLE --> correção*/
    flex-direction: column;
}
.father{
    border-radius: 4px; ;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 70%;
    background-color: rgb(22,22,22,1);
    border: 10px;
    border-color: ;
}
.mother{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(37, 37, 37);
    width: 50%;
    height: 70vh;
    gap: 10px;
    padding: 15px;
   
}
.son{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(37, 37, 37);
    width: 50%;
    height: 70vh;
    gap: 10px;
    padding: 15px;
}
.fotoBola{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 4px;
}
.fotoMBola{
    width: 100%;
    height: 25%;
    background-color: white;
    border-radius: 4px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    height: 80%;
}
.especifi{
    width: 50%;
    height: 100%;
    background-color: white;
}
.persona{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.personaspan{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.miniespecifi{
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.sizeselector{


}
.kart{
    width: 50%;
    height: 100%;
}
.itemtitle{
    display: flex ;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    height: 28.3%;


}
.itemtitlespan{
    font-size: 20px;
    color: white;
}
.avaliacaokart{
    display: flex ;
    align-items: center;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    height: 5%;
}
.precokart{
    width: 100%;
    height: 20%;
    display: flex;
}
.columnprecokart{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
.titlepreco{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center ;
    padding-left: 10%;
    padding-top: 2%;
}
.titleprecospan{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.numberprecokart{
    color: white;
    font-weight: bold;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center ;
    padding-left: 10%;
    padding-top: 2%;
}
.opcaokart{
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.finish{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    height: 25%;
    background-color: green;
}
.finished{
    font-size: 15px;
    font-weight: bold;
}
.notfinished{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    height: 25%;
    background-color: orange;
}
.throw{
    font-size: 15px;
    font-weight: bold;
}
.ou{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
